# -*- coding: utf-8 -*-
# vim: ft=yaml
chrome-browser:
  lookup:
    extra_files: {}                             # Not yet implemented
    pkg:                                        # Package-related settings
      installer_uri: ''                         # URI to fetch installer-archive from
      {%- if grains.os_family == "RedHat" %}
      name: 'google-chrome-beta'                # Type of chrome-installation when using public dnf repositories
      private_repo_def: ''                      # Content of dnf repo-def is not using public
      release_family: ''                        # Type of chrome-installation when using public dnf repositories
      {%- elif grains.os_family == "Windows" %}
      name: 'Google Chrome'                     # Package Name in host-registry
      version: ''                               # Not yet implemented (to support MSI-installer)
      uninstaller: ''                           # Not yet implemented (to support MSI-installer)
      {%- endif %}
    policy_extras:                              # Policy-related settings
      archive_root: ''
      policy_archive: ''                        # location of Chrome policy files (see .../default.yaml)
      policy_files: {}                          # Policy files to install (see .../os_family/Windows.yaml)
      registry_keys: []                         # Registry keys to set (see .../os_family/Windows.yaml)
      settings:                                 # See:
        chrome_homepage: ''                     # * https://support.google.com/chrome/a/answer/7655796
        home_page: ''                           # * https://chromeenterprise.google/policies/
        managed_bookmarks: null                 #
        managed_bookmarks_enabled: ''           #
        no_update: false                        #
        password_manager_enabled: ''            #
